.acount-info {
  float: right;
  color: #141411;
  font-family: 'proxima_nova_rgregular';
  font-size: 12px;
  text-align: right;
}
.login {
  margin-bottom: 1.5rem;
}
.acount-info a{
  color: #141411;
  text-decoration: none;
  line-height: 14px;
  margin-left: 2rem;
}
.acount-info a:hover{
  text-decoration: underline;
}
.bag {
  padding-left: 45px;
  min-height: 27px;
  background: no-repeat 0 2px;
  display: inline-block;
  text-align: left;
  line-height: 16px;
}

.bx-basket-fixed {
  position: fixed;
  background: white;
  padding: 10px;
  z-index: 110;
  border: solid 1px #cecece;
  border-radius: 10px;
}
.bx-basket-item-list-container {
  position: absolute;
  z-index: 100;
  background: white;
}
.bx-basket-item-list-container {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 5px;
}
.bx-basket-item-list-item {
  padding: 5px;
  border-bottom: 1px solid #eaeaea;
}
.bx-basket-fixed.left {
  left: 10px;
}
.bx-basket-fixed.right {
  right: 10px;
}
.bx-basket-fixed.top {
  top: 10px;
}
.bx-basket-fixed.bottom {
  bottom: 10px;
}

@media (max-width: 550px) {
  .login {
    display: inline-block;
    margin: 1rem 1rem 1.5rem 0;
  }
  .acount-info{
    float: none;
  }
}