.fast-order-block {
  text-align: center;
  padding-top: 2.5rem;
}
.fast-order-title {
  color: #141411;
  font-size: 2.4rem;
  font-family: 'proxima_nova_rgregular', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.fast-order-block label {
  display: block;
  color: #383838;
  line-height: 33px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
}
.fast-order-block fieldset {
  display: block;
  vertical-align: top;
}
.fast-order-block fieldset input {
  padding: 0 1rem;
  border: 1px solid #959595;
  border-radius: 2px;
  height: 33px;
  box-sizing: border-box;
  font-family: 'helveticaneuecyrroman', sans-serif;
}
.fast-order-block fieldset p {
  margin-top: 0.5rem;
  color: #a2a2a2;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.2rem;
}
.button-fast-order, .button-init-fast-order {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  box-sizing: border-box;
  line-height: 43px;
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 3.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #fff;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
  border: none;
  cursor: pointer;
  margin-left: 0;
}
.popup-window-button:hover {
  background: inherit;
  color: inherit;
}