<div class="product">
  <div class="product-left">
    <div class="big-image">
      <a class="fancy" href="images/big-1-1.jpg">
        <img src="images/big-1-1.jpg" alt="" >
      </a>
    </div>
    
    <div class="share">
      <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
      <div class="share-fr">Рассказать друзьям:</div>
      <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj" data-size="s"></div>
    </div>
    
    <div class="your-display">
      Оттенок и насыщенность изображения зависит
      от цветовых настроек Вашего монитора.
    </div>
  </div>
  
  <div class="product-right">
    <div class="product-inner">
      <div class="product-left-inner">
        <h1>Коктейльное платье</h1>
        <div class="price">
          <span class="price-old">3 890 руб.</span>
          <span class="price-new">2 590 руб.</span>
        </div>
      </div>
      
      <div class="product-right-inner">
        <div class="stars">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span class=""></span>
          (83)
        </div>
        <a href="#">Посмотреть или написать <br>отзыв</a>
      </div>
    </div>
    
    <div class="haracther"><span>Артикул:</span> DSP-224-41t</div>
    <div class="haracther"><span>Цвет:</span> Темно-синий</div>
    <div class="haracther"><span>Длина:</span> 100-102 см (зависит от размера)</div>
    <div class="haracther"><span>Состав:</span> эластан 5%, вискоза 75%, нейлон 20%</div>
    
    <div class="product-color">
      <div class="haracther"><span>Выберите цвет:</span></div>
      
      <div class="images-color">
        <span class="active"><img src="images/col-1.png" alt="" ></span>
        <span><img src="images/col-2.png" alt="" ></span>
      </div>
    </div>
    
    <div class="sizes-count">
      <div class="sizes-left"> 
        <div class="haracther"><span>Выберите размер:</span></div>
        
        <ul>
          <li>40</li>
          <li class="active">42</li>
          <li>44</li>
          <li>46</li>
          <li>48</li>
        </ul>
        <a href="#">Определите свой размер</a>
      </div>
      
      <div class="count">
        <div class="haracther"><span>Количество:</span></div>
        
        <div class="quantity"><div class="minus">-</div><input type="text" value="1"><div class="plus">+</div></div>
      </div>
    </div>
    
    
    <a href="#" class="add-bag">Добавить в корзину</a>
    
    <span class="add-click">Купить в один клик</span>
    
    
    <div class="cusrousel-mini">
      <div class="mini-slide"><a class="active" href="images/big-1-1.jpg"><img src="images/mini-1.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-2.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-3.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-4.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-5.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-1.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-2.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-3.jpg" alt="" /></a></div>
      <div class="mini-slide"><a href="images/big-1-1.jpg"><img src="images/mini-4.jpg" alt="" /></a></div>
    </div> 
    
  </div>
</div>