@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* browser reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.4rem;
	line-height: 1;
  height: 100%;
  background: #ffffff url(../images/ds2_bg.gif) repeat 0 0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote: before, blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* change colours to suit your needs */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration:  line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/* change border colour to suit your needs */

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}

/* floating */

.left  { float: left!important; } 
.right { float: right!important;}

/* text aligments */

.text-left  { text-align: left!important; }
.text-right { text-align: right!important; }
.text-center { text-align: center!important; }


#header:after,
.news:after,
.catalog:after,
.product:after {
  clear: both;
  display: block;
  content: "";
}
.login a:hover,
.news-item h3 a:hover,
.more:hover,
.info-menu li a:hover,
.company-menu li a:hover,
.goods-description h3 a:hover,
.breadcrumbs a:hover,
.product-right-inner a:hover,
.product-name h3 a:hover,
.delete:hover {
  text-decoration: underline;
}
.news-image a:hover,
.icons a:hover,
.sale-home:hover,
.carousel:hover .flex-direction-nav li a:hover,
.info:hover,
.choose:hover,
.sort-left a.down:hover,
.add-bag:hover,
.tab a:hover,
.color-filter li span:hover,
.contact-form input[type=submit]:hover {
  opacity: 0.7;
}
/* go structure */

#wrapper { 
  max-width: 1230px;
  margin: 0 auto;
  background: #fff;
  border-left: 1px solid #131311;
  border-right: 1px solid #131311;
  min-height: 100%;
}
.inner {
  padding: 0 2.4%;
}

/* start header */

#header{
  padding: 0.8rem 0;
  position: relative;
}	
#logo {
  float: left;
  margin-right: 2.6rem;
}
#logo a {
  display: block;
  width: 270px;
  height: 74px;
  background: url(../images/logo.png) no-repeat 0 0;
}
.search-section {
  width: 270px;
  float: left;
  padding-top: 2.5rem;
}
.search {
  border: 1px solid #969696;
  width: 100%;
  height: 30px;
  font-size: 0;
  border-radius: 3px;
}
.search input[type=text] {
  width: 89%;
  box-sizing: border-box;
  display: inline-block; 
  height: 100%;
  border: none;
  padding: 0 1rem;
  border-radius: 3px;
  font-size: 12px;
}
.search input[type=submit] {
  width: 11%;
  box-sizing: border-box;
  display: inline-block; 
  height: 100%;
  cursor: pointer;
  border: none;
  background: url(../images/search.png) no-repeat center center;
}
.phones {
  float: left;
  padding-top: 2.5rem;
}
.phone {
  font-family: 'proxima_nova_rgregular';
  color: #131311;
  font-size: 1.8rem;
  line-height: 1.8rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 3rem;
}
.phone span {
  font-size: 1.2rem;
  display: block;
  color: #979797;
}
.acount-info {
  float: right;
  text-align: right;
}
.login {
  margin-bottom: 1.5rem;
}
.login a{
  color: #141411;
  text-decoration: none;
  font-family: 'proxima_nova_rgregular';
  font-size: 12px;
  line-height: 14px;
  margin-left: 2rem; 
}
.bag {
  padding-left: 45px;
  min-height: 27px;
  background: url(../images/bag.png) no-repeat 0 2px;
  display: inline-block;
  text-align: left;
  color: #141411;
  font-family: 'proxima_nova_rgregular';
  font-size: 12px;
  line-height: 16px;
}

/* start navigation */

#navi {
  background: url(../components/bitrix/menu/donna-top-menu/images/nav.jpg) repeat-x 0 0;
  background-color: #141411;
  height: 34px;
}	
#navi ul {
  text-align: center;
}
#navi li {
  font-family: 'proxima_nova_rgregular';
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 34px;
  margin: 0 0.5rem;
  
}	
#navi li.opt {
  background: url(../components/bitrix/menu/donna-top-menu/images/nav-active.jpg) repeat-x 0 0;
  background-color: #d31113;
}		
#navi li a {
  padding: 0 3rem;
  color: #fff;
  display: block;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}	
#navi li a:hover {
  background: #f6f6f6; 
  color: #d21112;
}   
/*curousel */
.carousel {
  width: 70%;
  float: left;
  height: 650px;
}
.right-side {
  height: 650px;
  margin-left: 70%;
}
.image {
  height: 50%;
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
.image-title {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255, 0.5);
  padding: 1rem;
  font-family: 'proxima_nova_rgregular';
  font-size: 2.4rem;
  color: #141411;
  box-sizing: border-box;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.image:hover .image-title{
  -webkit-transform: translate(0,-10px);
  transform: translate(0,-10px);
}
.image-title span{
  display: block;
  color: #969696;
  font-size: 12px;
  margin-top: 1rem;
}
.sale-home {
  height: 50%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.carousel {
  position: relative;
}
.carousel .slides,
.carousel .slides li {
  height: 100%;
}
.carousel .slides li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.carousel:hover .flex-direction-nav li a {
  opacity: 1;
}
.carousel .flex-direction-nav {
  list-style-type: none;
}
.carousel .flex-direction-nav li a {
  width: 42px;
  height: 42px;
  background: url(../images/next.png) no-repeat 0 0;
  top: 50%;
  margin-top: -21px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  text-indent: 999px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.carousel .flex-direction-nav li a.flex-prev {
  background-position: 0 0;
  left: 20px;
}
.carousel .flex-direction-nav li a.flex-next {
  background-position: right 0;
  right: 20px;
}
/* categories */ 
.categories {
  font-size: 0;
  padding: 2rem 0;
}
.cat-item:first-child {
  margin-left: 0;
}
.cat-item:last-child {
  margin-right: 0;
}
.cat-item {
  width: 19%;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin: 0 0.6%;
}
.cat-item img {
  max-width: 100%;
  height: auto;
}
.cat-item a {
  display: block;
  position: relative;
}
.cat-title{
  color: #fff;
  position: absolute;
  font-family: 'proxima_nova_rgregular';
  font-size: 1.4rem;
  text-transform: uppercase;
  background: rgba(0,0,0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}
.cat-item a.last {
  position: absolute;
  top: 28%;
  width: 100%;
  left: -2px;
  border: 2px solid #e3e3e3;
  opacity: 0;
  background: #fff;
  -webkit-transform: translate(0,-70px);
  transform: translate(0,-70px);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  z-index: 10;
}
.cat-item:hover a.last  {
  opacity: 1;
  transform: translate(0,0);
}

.news {
  background: #f6f6f6;
  padding: 3.5rem 0;
  border-top: 2px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  font-size: 0;
}
.news-item.first {
  margin-right: 4%;
}
.news-item {
  width: 48%;
  display: inline-block;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 1.4rem;
  overflow: hidden;
}
.news-item h3 {
  color: #141411;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}
.news-item h3 a {
  color: #141411;
  text-decoration: none;
  
}
.news-item p {
  font-size: 12px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin-bottom: 1.5rem;
}
.news-image {
  width: 155px;
  float: left;
}
.news-image a {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.news-description {
  margin-left: 178px;
}
.date {
  color: #969696;
  font-size: 12px;  
  margin-bottom: 1rem;
}
.more{
  font-size: 12px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  text-decoration: none;
}
.title-section {
  color: #141411;
  font-size: 2.4rem;
  font-family: 'proxima_nova_rgregular', sans-serif;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
.button-section {
  overflow: hidden;
  margin-top: 3rem;
  text-align: center;
}
.see-all {
  color: #141411;
  font-size: 12px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  line-height: 32px;
  padding: 0 2.2rem;
  border: 1px solid #131311;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  transition: border-color 0.3s;
  min-width: 125px;
  box-sizing: border-box;
}
.see-all:hover {
  border-color: #979797;
}
.see-all:after,
.see-all:before {
  left: 125%;
  top: 50%;
  position: absolute;
  content: "";
  background: #141411;
  height: 1px;
  width: 1000px;
}
.see-all:before {
  left: auto;
  right: 125%;
}
.description {
  padding: 3.5rem 0;
}
.description p {
  font-size: 1.3rem;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin-bottom: 1.5rem;
  line-height: 2.2rem;
}

/*catalog*/
.sidebar-left {
  width: 170px;
  float: left;
}
.catalog-content {
  margin-left: 200px;
}
.side-menu {
  
}
.side-menu > ul {
  border-bottom: 1px solid #e52b2e;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.side-menu > ul:last-child {
  border-bottom: none;
}
.side-menu ul,
.filter-wrap ul {
  list-style-type: none;
}
.side-menu li {
  font-family: 'helveticaneuecyrmedium', sans-serif;
  font-size: 14px;
}
.side-menu li a{
  color: #353535;
  margin-bottom: 0.7rem;
  text-decoration: none;
  display: block;
}
.side-menu li.current > a,
.side-menu li a:hover {
  color: #db4a4a;
}
.side-menu li li {
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
}
.side-menu li ul {
  margin-left: 2rem;
}
.filter {
  padding: 15px;
  background: #f6f6f6;
}
.filter-wrap {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
  border-bottom: 1px solid #e3e3e3;
}
.filter-wrap:last-child{
  border-bottom: none; 
  padding-bottom: 0;
  margin-bottom: 0;
}

.filter-wrap li {
  
  margin-bottom: 0.6rem;
}
.filter-wrap li input[type=checkbox] {
  display: none;
}
.filter-wrap li input + label:after {
  border-radius: 3px;
  box-sizing: border-box;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  background: url(../images/check.png) no-repeat 0 0;
  
}
.filter-wrap  li input:checked + label:after {
  background-position: 0 bottom;
}
.filter-wrap li label {
  cursor: pointer;
  font-weight: normal;
  padding-left: 30px;
  position: relative;
  color: #969696;
  line-height: 20px;
  font-size: 12px;
  display: block;
  font-family: 'helveticaneuecyrroman', sans-serif;
}
.filter-wrap  li input:checked + label{
  color: #353535;
}
.title-filter {
  color: #353535;
  font-family: 'helveticaneuecyrmedium', sans-serif;
  font-size: 14px;
  margin-bottom: 1.2rem;
}
.filter-size {
  display: inline-block;
  vertical-align: top;
  padding-right: 2.5rem;
}
.filter-size.last {
  padding-right: 0;
}
.color-filter {
  font-size: 0;
}
.color-filter li:nth-child(5n+5){
  margin-right: 0;
}
.color-filter li {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.color-filter li span{
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.color-filter li span:after {
  border: 3px solid transparent;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  
}
.color-filter li.active span:after{
  border-color: #fff;
}
.info {
  width: 17px;
  height: 17px;
  background: url(../images/sign.png) no-repeat 0 0;
  display: inline-block;
  margin-bottom: -3px;
  margin-left: 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#slider-range{
  background: #e3e3e3;
  border-radius: 4px;
  height: 4px;
  position: relative;
  margin: 18px 0;
}
.ui-widget-header{
  background: #e52b2d;
  border-radius: 4px;
  height: 4px;
  position: absolute;
}
.ui-slider-handle {
  background: url(../images/badget.png) no-repeat 0 0;
  width: 14px;
  height: 20px;
  position: absolute;
  top: -8px;
  margin-left: -7px;
}
.range-min {
  float: left;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
}
.range-max {
  float: right;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin-bottom: 30px;
}
.choose {
  clear: both;
  background: url(../components/bitrix/menu/donna-top-menu/images/nav-active.jpg) repeat-x 0 0;
  font-size: 14px;
  line-height: 32px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: 'helveticaneuecyrroman', sans-serif;
  border-radius: 3px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.goods-slider .slides{
  overflow: hidden;
}
.goods-slider{
  border: 1px solid #e3e3e3;
  margin: 10px;
  position: relative;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.catalog-list {
  font-size: 0;
  
}
.goods {
  width: 24%;
  position: relative;
  display: inline-block;
  margin-right: 1.3%;
  margin-bottom: 2.5rem;
}
.goods:nth-child(4n+4) {
  margin-right: 0;
}
.goods:hover {
  overflow: visible;
  z-index: 10;
} 
.goods-inner{
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  border: 1px solid transparent;
  background: #fff;
  padding-bottom: 20px;
}
.goods:hover .goods-slider {
  border-color: transparent;
}
.goods:hover .goods-inner {
  border: 1px solid #131311;

}
.goods-description {
  padding: 0 25px;
}
.goods-description h3,
.cost {
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  font-weight: normal;
}
.cost {
  margin-bottom: 1rem;
}
.goods-description h3 a{
  color: #353535;
  text-decoration: none;
}
.art {
  color: #a3a3a3;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.goods:hover .sizes {
  display: block;
}
.sizes {
  overflow: hidden;
  display: none;
}
.sizes div{
  float: left;
  line-height: 23px;
  margin-right: 7px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
}
.sizes ul {
  list-style-type: none;
}
.sizes li {
  display: inline-block;
  vertical-align: top;
  width: 22px; 
  height: 23px;
  box-sizing: border-box;
  line-height: 23px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 3px;
}
.sizes li.active {
  background: #f34648;
  border-color: #f13e41;
  color: #fff;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.quick-view {
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  background: rgba(255,255,255, 0.5 );
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  width: 158px;
  line-height: 35px;
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -79px;
  z-index: 10;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  -webkit-transform: translate(0,70px);
  transform: translate(0,70px);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;
}
.goods:hover .quick-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
.goods:hover .goods-slider .flex-direction-nav a {
  opacity: 1;
}
.goods-slider .flex-direction-nav {
  list-style-type: none;
  height:0;
}
.goods-slider .flex-direction-nav a {
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  text-indent: 999px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: url(../images/slider-arrow.png) no-repeat 0 0;
}
.goods-slider .flex-direction-nav a.flex-prev {
  left: 15px;
}
.goods-slider .flex-direction-nav a.flex-next {
  right: 15px;
  background-position: right 0;
}
.breadcrumbs {
  padding: 25px 0;
  color: #353535;
}
.breadcrumbs a:first-child {
  margin-left: 0;
}
.breadcrumbs a,
.breadcrumbs span {
  color: #353535;
  font-size: 14px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  margin: 0 0.7rem;
}
.breadcrumbs a {
  text-decoration: none;
}
.catalog-top-text h1,
.bag-content h1 {
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #141411;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}
.catalog-top-text p{
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 1rem;
}
.catalog-top-text {
  width: 70%;
  float: left;
}
.offer {
  margin-left: 72%;
}
.catalog-top {
  overflow: hidden;
  margin-bottom: 1rem;
}
.page-navigation a,
.page-navigation span{
  display: inline-block;
  vertical-align: top;
  width: 25px; 
  height: 25px;
  box-sizing: border-box;
  line-height: 23px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.page-navigation a.see-all-nav {
  width: auto;
  border: none;
  margin-right: 1.5rem;
}
.page-navigation span {
  background: #f34648;
  border-color: #f13e41;
  color: #fff;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.page-navigation a:hover {
  background-color: #dedede;
}
.sort {
  overflow: hidden;
  margin-bottom: 3rem;
}
.sort.last {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.sort-right{
  float: right;
}
.sort-left {
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  float: left;
}
.sort-left a {
  margin: 0.4rem;
  padding-right: 10px;
  line-height: 25px;
  text-decoration: none;
}
.sort-left a.active.s-top {
  background: url(../images/sort.png) no-repeat right center;
}
.sort-left a.active.s-bottom {
  background: url(../images/sort-b.png) no-repeat right center;
}
.sort-left a.down {
  border: 1px solid #dedede;
  padding: 5px 35px 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  color: #141411;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-family: 'proxima_nova_rgregular', sans-serif;
}
.sort-left a.down:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 10px;
  width: 9px;
  height: 6px;
  background: url(../images/top.png) no-repeat 0 0;
}
.result {
  background: url(../images/result.png) no-repeat 0 0;
  top: 0;
  position: absolute;
  left: 103%;
  z-index: 99;
  width: 119px;
  height: 27px;
  line-height: 25px;
  padding: 0 20px;
  color: #fff;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  display: none;
  cursor: pointer;
}
.sale {
  width: 46px;
  height: 23px;
  background: url(../images/sale.png) no-repeat 0 0;
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 9;
}
.hit {
  width: 46px;
  height: 23px;
  background: url(../images/hit.png) no-repeat 0 0;
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 9;
}
.new {
  width: 46px;
  height: 23px;
  background: url(../images/new.png) no-repeat 0 0;
  position: absolute;
  top: 15px;
  left: -3px;
  z-index: 9;
}
/*product*/
.product-left {
  float: left;
  width: 48%;
}
.product-right {
  margin-left: 52%;
}
.big-image {
  margin-bottom: 2.5rem;
}
.fancybox-inner .big-image img {
  max-height: 650px;
}
.big-image img {
  max-width: 100%;
  height: auto;
}
.big-image a {
  display: block;
  position: relative;
}
.big-image a:before {
  background: url(../images/zoom.png) no-repeat 0 0;
  width: 30px;
  height: 30px;
  z-index: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
}
.your-display {
  background: url(../images/display.png) no-repeat 0 2px;
  min-height: 35px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #e52b2d;
  padding-left: 50px;
}
.product-right h1 {
  font-size: 1.8rem;
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  text-decoration: none;
  text-transform: uppercase; 
  margin-bottom: 1rem;
}
.price {
  margin-bottom: 10px;
}
.price-old {
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 3rem;
  text-decoration: line-through; 
}
.price-new {
  color: #e52b2d;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 2.4rem;
  display: block;
}
.stars {
  white-space: nowrap;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 1rem;
}
.stars span {
  background: url(../images/star.png) no-repeat right 0;
  width: 17px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
}
.stars span.active {
  background-position: 0 0;
}
.product-inner {
  font-size: 0;
}
.product-right-inner a {
  color: #e52b2d;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.product-left-inner {
  margin-right: 10%;
}

.product-left-inner,
.product-right-inner {
  display: inline-block;
  vertical-align: top;
  width: 44%;
} 
.product-left-inner {
  width: 46%;
}
.haracther{
  color: #a3a3a3;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}
.haracther span {
  font-family: 'helveticaneuecyrmedium';
  color: #353535;
}
.sizes-count {
  padding-top: 1.2rem;
  font-size: 0;
  margin-bottom: 2.2rem;
} 
.sizes-left li,
.sizes-left li.active{
  display: inline-block;
  vertical-align: top;
  width: 40px; 
  height: 40px;
  box-sizing: border-box;
  line-height: 38px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 20px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.sizes-left li.active {
  background: #f34648;
  border-color: #f13e41;
  color: #fff;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.sizes-left li:hover {
  background-color: #dedede;
}
.sizes-left ul {
  margin-bottom: 1rem;
}
.sizes-left a {
  color: #e52b2d;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.sizes-left,
.count {
  display: inline-block;
  vertical-align: top;
}
.sizes-left {
  margin-right: 4.4rem;
}
.quantity input {
  height: 38px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  width: 50px;
  text-align: center;
  font-size: 20px;
  border: none;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
.quantity {
  border: 1px solid #dedede;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
}
td .quantity input {
  font-size: 16px;
}
td .quantity input,
td .quantity .minus,
td .quantity .plus  {
  height: 32px;
}
.minus,
.plus  {
  height: 38px;
  width: 38px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  text-indent: 999px;
}
.plus {
  background: url(../images/plus.png) no-repeat center center;
  border-left: 1px solid #dedede;
}
.minus {
  background: url(../images/minus.png) no-repeat center center;
  border-right: 1px solid #dedede;
}
.add-bag {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  box-sizing: border-box;
  line-height: 43px;
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 3.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #fff;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.add-click {
  display: block;
  color: #e52b2d;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 3rem;
  cursor: pointer;
}
.add-click:hover {
  text-decoration: underline;
}
/* Slider */
.cusrousel-mini {
  padding: 10px 20px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 2.5rem;
}
.slick-slider{
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus{
  outline: none;
}
.slick-list.dragging{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after{
  clear: both;
}
.slick-loading .slick-track{
  visibility: hidden;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img{
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-next,
.slick-prev  {
  width: 20px;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  text-indent: 999px;
  padding: 0;
  border: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
  background: url(../images/slider-arrow.png) no-repeat 0 center;
}
.slick-prev  {
  left: 0px;
}
.slick-next {
  right: 0px;
  background-position: right center;
}
.mini-slide a,
.images-color span {
  border: 1px solid transparent;
  display: inline-block;
}
.images-color span  {
  margin-right: 5px;
}
.mini-slide a.active,
.images-color span.active {
  border-color: #e52b2d;
} 
.product-description {
  color: #353535;
}

.product-description p{
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 1rem;
}
.product-description h4 {
  font-family: 'helveticaneuecyrmedium';
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 1rem;
}
.product {
  background: #fff;
  margin-bottom: 3.5rem;
}
.tab-list {
  list-style-type: none;
  border-bottom: 1px solid #cecece;
}
.tab-list li {
  display: inline-block;
  line-height: 2.6rem;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  margin-right: 2px;
  margin-bottom: -1px;
}
.tab-list li a{
  color: #353535;
  background: -webkit-linear-gradient(to top,  #e9e9e9 0%, #f7f7f7 100%);            
  background: -moz-linear-gradient(to top,  #e9e9e9 0%, #f7f7f7 100%);            
  background: -ms-linear-gradient(to top,  #e9e9e9 0%, #f7f7f7 100%);            
  background: linear-gradient(to top,  #e9e9e9 0%, #f7f7f7 100%);
  display: block;
  padding: 0 1.2rem;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  border-radius: 3px 3px 0 0;
}
.tab-list li a:hover,
.tab-list li.active a{
  color: #fff;
  background: -webkit-linear-gradient(to top,  #4f4f4f 0%, #1a1a1a 100%);            
  background: -moz-linear-gradient(to top,  #4f4f4f 0%, #1a1a1a 100%);            
  background: -ms-linear-gradient(to top,  #4f4f4f 0%, #1a1a1a 100%);            
  background: linear-gradient(to top,  #4f4f4f 0%, #1a1a1a 100%);
  border-color: #333334;
}
.tab{
  display: none;
  font-size: 0;
  padding: 2rem 0;
}
.tab:first-child {
  display: block;
}
.tab a{
  width: 11.3%;
  margin: 0 0.5%;
  display: inline-block;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.relative-img {
  margin-bottom: 1rem;
}
.relative-title {
  margin-bottom: 0.5rem;
}
.tab a span {
  display: block;
}
/*bag*/
.table-bag {
  width: 100%;
}
.table-bag td {
  border-top: 1px solid #dddddd;
}
.table-bag td,
.table-bag th{
  padding: 1.5% 1%;
  vertical-align: top;
  text-align: left;
}
.table-bag th{
  color: #a2a2a2;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
}
.table-bag tbody {
  border: 1px solid #dddddd;
}
.product-name {
  width: 27%;
}
.product-name h3 {
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.product-name h3 a{
  color: #c52f31;  
  text-decoration: none;
}
.product-name p {
  color: #383838;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.product-name .art {
  font-size: 1.2rem;
}
.cost-bag,
.sum-bag {
  color: #383838;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.6rem;
}
.delete {
  color: #c52f31;  
  text-decoration: none;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  
}
.total {
  color: #383838;  
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.5rem 0 1.5rem 44%; 
}
.total .total-n {
  font-size: 2.4rem;
  margin-left: 19rem;
}
.buy-next {
  border: 1px solid #eeeeee;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #383838;
  display: inline-block;
  margin-bottom: 3rem;
}
.contact-form {
  padding: 2.5rem 0;
  border-top: 1px solid #dddddd;
}
.contact-form .title-section{
  text-align: left;
}
.contact-form label {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  color: #383838;
  line-height: 33px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
}
.contact-form  fieldset {
  display: inline-block;
  vertical-align: top;
}
.form-line {
  margin-bottom: 2rem;
}
.row input {
  width: 100%;
  padding: 0 1rem;
  border: 1px solid #959595;
  border-radius: 2px;
  height: 33px;
  box-sizing: border-box; 
  font-family: 'helveticaneuecyrroman', sans-serif;
}
.row input[type=text] {
  width: 270px;
}
.row input[type=tel],
.row input[type=email] {
  width: 165px;
}
.row p {
  margin-top: 0.5rem;
  color: #a2a2a2;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.2rem;
}
.row textarea {
  width: 500px;
  padding: 1rem;
  border: 1px solid #959595;
  border-radius: 2px;
  height: 70px;
  box-sizing: border-box; 
  font-family: 'helveticaneuecyrroman', sans-serif;
  resize: none;
}
.contact-form input[type=submit] {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  box-sizing: border-box;
  line-height: 43px;
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 3.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #fff;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
  border: none;
  cursor: poitner;
  margin-left: 174px;
}
.my-orders {
  padding: 1rem 0;
}
.mobile-menu {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0.8rem;
  right: 3%;
  height: 14px;
  width: 20px;
  z-index: 11;
  font-family: Arial, sans-serif;
  color: #b41819;
  cursor: pointer;
}
.mobile-menu:after {
  background: #b41819;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.mobile-menu:before {
  background: #b41819;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.mobile-menu span {
  background: #b41819;
  content: "";
  height: 2px;
  left: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.mobile-menu div {
  content: "";
  height: 100%;
  left: -45px;
  line-height: 14px;
  position: absolute;
  top: 1px;
  transition: all 0.5s ease 0s;
  width: 45px;
}






/* start footer */

#footer {
  border-top: 1px solid #e3e3e3;
  position: relative;
  background: #f6f6f6;
  padding: 2.5rem 0;
}
#footer:after {
  top: 1px;
  content: "";
  left: 0;
  right: 0;
  border-top: 1px solid #fff;
  position: absolute;
}
.footer-phones {
  width: 29%;
  float: left;
}
.info-menu {
  width: 15%;
  float: left;
}
.company-menu {
  width: 24%;
  float: left;
}
.social {
  float: right; 
}
#footer .copyright {
  clear: both;
  text-align: right;
  padding-top: 2.5rem;
  font-size: 12px;
  color: #141411;
  font-family: 'proxima_nova_rgregular', sans-serif;
}
.footer-phone {
  margin-bottom: 2rem;
}
.footer-phone .number {
  font-size: 1.8rem;
  line-height: 24px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #141411;
  width: 130px;
  display: inline-block;
  vertical-align: top;
}
.label-phone {
  font-size: 12px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #979797;
  display: inline-block;
  vertical-align: top;
  margin-left: 3.5rem;
}
.info-menu ul,
.company-menu ul {
  list-style-type: none;
  padding-left: 5rem;
}
.company-menu ul {
  display: inline-block;
  vertical-align: top;
}
.info-menu li,
.company-menu li {
  font-size: 12px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #141411;
  margin-bottom: 1rem;
  padding-left: 13px;
  position: relative;
}
.info-menu li:before,
.company-menu li:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 5px;
  background: #c7c7c7;
}
.info-menu li a,
.company-menu li a {
  color: #141411;
  text-decoration: none;
  
}
.company-menu h3,
.social h3{
  padding-left: 5rem;
  font-size: 14px;
  font-family: 'proxima_nova_rgregular', sans-serif;
  color: #141411;
  margin-bottom: 1rem;
  font-weight: normal;  
}
.social h3 {
  padding-left: 0;
}
.icons {
  margin-bottom: 1.5rem;
}
.icons a{
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  background: url(../images/social.jpg) no-repeat 0 0;
  margin-right: 7px;
}
.icons a.vk {
  background-position: -32px 0;
}
.icons a.instagram {
  background-position: -64px 0;
}
.subscribe-section {
  width: 270px;
  float: left;
}
.subscribe {
  border: 1px solid #979797;
  width: 100%;
  height: 30px;
  font-size: 0;
  border-radius: 3px;
}
.subscribe input[type=text] {
  width: 85%;
  box-sizing: border-box;
  display: inline-block; 
  height: 100%;
  border: none;
  padding: 0 1rem;
  border-radius: 3px;
}
.subscribe input[type=submit] {
  width: 15%;
  box-sizing: border-box;
  display: inline-block; 
  height: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background: #979797 url(../images/subscribe.png) no-repeat center center;
}
.fancybox-inner .product {
  margin-bottom: 0;
}
.drop {
  display: none;
}
.share {
  margin-bottom: 1.5rem;
}
.share-fr {
  color: #353535;
  display: inline-block;
  vertical-align: top;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.2rem;
  margin-right: 0.8rem;
  line-height: 20px;
}
.ya-share2 {
  vertical-align: top;
  display: inline-block;
}

@media (min-width: 551px){
  .drop-wrap {
    display: block !important;
  }
}
@media (max-width: 1200px) { 
  #wrapper {
    border: none;
  }
  .phones {
    padding-top: 0;
  }
  .phone:first-child {
    margin-bottom: 0.5rem;
  }
  .phone {
    display: block;
  }
  #navi li a {
    padding: 0 2.5rem;
  }
  .footer-phones {
    width: 34%;
  }
  .company-menu {
    width: 15%;
  }
  .sizes div {
    float: none;
  }
  
}

@media (max-width: 1023px) { 
  #navi li a {
    padding: 0 1rem;
  }
  .phones {
    clear: both;
    padding-top: 2.5rem;
  }
  .phone {
    display: inline-block;
  }
  .phone:first-child {
    margin-left: 0;
  }
  .search-section {
    float: right;
  }
  .carousel,
  .right-side  {
    height: 450px;
  }
  .goods {
    width: 32%; 
    margin-right: 2%;
  }
  .goods:nth-child(4n+4) {
    margin-right: 2%;
  }
  .goods:nth-child(3n+3) {
    margin-right: 0;
  }
  
  .sizes-left {
    margin-right: 0;
  }
  .product-left-inner,
  .product-right-inner  {
    display: block;
    width: auto; 
  }
  .product-right-inner a br {
    display: none;
  }
}
@media (max-width: 900px) { 
  #navi li {
    font-size: 11px;
    margin: 0;
  }
  .footer-phones {
    width: 45%;
  }
  .info-menu ul,
  .company-menu ul,
  .company-menu h3  {
    padding-left: 2.5rem;
  }
  .info-menu {
    width: 22%;
  }
  .company-menu {
    width: 33%;
  }
  .icons {
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: top;
  }
  .subscribe-section {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
  .social {
    float: none;
    clear: both;
  }
  .icons {
    margin-top: 5px;
  }
  .news-image {
    width: 25%;
  }
  .news-description{
    margin-left: 28%;
  }
  .product-left {
    float: none;
    width: auto;
    margin-bottom: 2rem;
  }
  .product-right {
    margin-left: 0;
  }
  .big-image {
    height: 500px;
    
  }
  .big-image a {
    height: 100%;
    
  }
  .big-image img{
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  .tab a {
    width: 23.3%;
  }
  .delete {
    width: 55px;
    display: block;
  }
  .total {
    padding-left: 0;
    text-align: right;
  }
}
@media (max-width: 767px) { 
  html {
    font-size: 55%;
  }
  #logo a {
    width: 170px;
    background-position: 0 center;
    background-size: contain;
  }
  #header {
    border-bottom: 1px solid #dddddd;
  }
  .inner {
    padding: 0 3%;
  }
  #navi {
    position: fixed;
    top: 0;
    bottom: 0;    
    right: -240px;
    width: 240px;
    z-index: 99;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    padding-top: 40px;
    overflow-y: auto;
    height: auto;
    text-align: left;
    background: #141411 ;
  }
  .active#navi  {
    right: 0;
  }
  #navi li{
    display: block;
    font-size: 14px;
  }
  #navi ul {
    text-align: left;
  }
  #navi li a {
    padding: 0 20px;
  }
  .mobile-menu {
    display: block;
    z-index: 999;
  }
  .active.mobile-menu {
    color: #fff;
    position: fixed;
  }
  .active.mobile-menu span {
    opacity: 0;
    background: #fff;
  }
  .active.mobile-menu:before {
    transform: rotate(-45deg);
    top: 6px;
    background: #fff;
  }
  .active.mobile-menu:after {
    transform: rotate(45deg);
    bottom: 6px;
    background: #fff;
  }
  .footer-phones {
    float: none;
    width: auto;
  }
  .label-phone {
    margin-left: 0;
  }
  .footer-phone {
    display: inline-block;
    white-space: nowrap;
  }
  .footer-phone .number {
    width: 110px;
  }
  .footer-phone:first-child {
    margin-right: 2rem;
  }
  .info-menu {
    width: 35%;
  }
  .company-menu {
    width: 65%;
  } 
  .info-menu ul {
    padding-left: 0;
  }
  .social {
    padding-top: 1rem;
  }
  #footer .copyright{
    text-align: left;
  }
  .news-item {
    width: auto;
    display: block;
    
  }
  .news-item.first{
    margin: 0 0 2rem 0;
  }
  .carousel {
    width: auto;
    float: none;
  }
  .right-side{
    height: 300px;
    margin-left: 0;
  }
  .image,
  .sale-home{
    width: 50%;
    float: left;
    height: 100%;
  }
  .goods {
    width: 48%; 
    margin-right: 4%;
  }
  .goods:nth-child(4n+4) {
    margin-right: 4%;
  }
  .goods:nth-child(3n+3) {
    margin-right: 4%;
  }
  .goods:nth-child(2n+2) {
    margin-right: 0;
  }
  .catalog-top-text{
    float: none;
    width: auto;
  }
  .offer {
    margin-left: 50%;
  } 
  .sort-left {
    float: none;
    margin-bottom: 1.5rem;
  }
  .sort-right{
    float: none; 
  }
  td .quantity input, td .quantity .minus, td .quantity .plus {
    height: 28px;
  }
  td .quantity input {
    width: 30px;
    font-size: 1.6rem;
  }
  .minus, .plus {
    width: 28px;
  }
}
@media (max-width: 630px) { 
  .table-bag thead{
    display: none;
  }
  .table-bag tbody {
    display: block;
    padding: 3%;
  }
  .table-bag tr {
    display: block;
    padding-bottom: 2rem;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2rem;
  }
  .table-bag tr:last-child {
    border: none;
  }
  .table-bag td {
    display: block;
    border: none;
    padding: 0;
    margin-left: 30%;
    margin-bottom: 1.5rem;
  }
  .product-name {
    width: auto;
  }
  .table-bag td.product-photo {
    float: left;
    width: 30%;
    margin-left: 0;
  }
  .cost-bag:before {
    content: "Стоимость:";
    display: inline-block;
    margin-right: 2rem;
    color: #a3a3a3;
  }
  .sum-bag:before {
    content: "Итого:";
    display: inline-block;
    margin-right: 2rem;
    color: #a3a3a3;
  }
  .delete {
    width: auto;
  }
  .contact-form fieldset {
    display: block;
  }
  
  .form-line {
    margin-bottom: 1rem;
  }
  .row input[type="text"],
  .row input[type="tel"], 
  .row input[type="email"],
  .row textarea,
  .contact-form input[type="submit"]  {
    width: 100%;
  }
  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}
@media (max-width: 550px) { 
  #logo {
    float: none;
  }
  #logo a {
    height: 45px;
  }
  .mobile-menu{
    top: 23px;
  }
  
  .search-section {
    float: none;
    width: auto;
    padding-top: 1.5rem;
  }
  .phones {
    float: none;
    padding-top: 1.5rem;
    text-align: right;
  }
  .acount-info{
    float: none;
    
  }
  .login {
    display: inline-block;
    margin: 1rem 1rem 1.5rem 0;
  }
  .carousel {
    height: 300px;
  }
  .right-side {
    height: 250px;
  }
  .categories {
    text-align: center; 
  }
  .cat-item {
    width: 47%;
  }
  .drop {
    display: block;
    position: relative;
    font-size: 14px;
    font-family: 'proxima_nova_rgregular', sans-serif;
    color: #383838;
    padding: 1rem 3rem 1rem 2rem;
    display: inline-block;
    border: 1px solid #383838;
    border-radius: 3px;
    min-width: 200px;
    margin-bottom: 1rem;
  }
  .drop:after {
    border-color: #383838 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 0.8rem;
    content: "";
    right: 5px;
    margin-top: -0.4rem;
    position: absolute;
    top: 50%;
    transition: opacity 0.5s ease 0s;
    width: 0;
  }
  .active.drop:after {
    border-color:  transparent transparent #383838;
    margin-top: -1.2rem;
  }
  .drop-wrap {
    display: none;
  }
  .sidebar-left {
    float: none;
    width: auto;
    margin-bottom: 2rem;
  }
  .catalog-content {
    margin-left: 0;
  }
  
  .color-filter li:nth-child(5n+5) {
    margin-right: 10px;
  }
  .tab-list li {
    display: block;
    margin-right: 0;
  }
  .big-image {
    height: auto;
  }
}
@media (max-width: 450px) { 
  .right-side {
    height: 170px;
  }

}
@media (max-width: 320px) { 

  .goods {
    margin-right: 0 !important;
    width: 100%;
  }
  .goods-inner {
    top: -1%;
    left: -1%;
    right: -1%;
  }
}