
.item_comments{
	display: block;
	padding-left: 0;
}
.item_comments li{
	display: block;
	padding-bottom: 10px;
}
.item_comments_username{
	display: inline-block;
	color: #5d90bd;
	font-size: 14px;
}
.item_comments_date{
	display: inline-block;
	color: #b8b8b8;
	font-size: 14px;
	margin-left: 10px;
}
.item_comments_container p{
	margin-top: 5px;
	color: #3f3f3f;
	font-size: 14px;
}

div.blog-comment-form {width: 100% !important;}

div.blog-comment .blog-author {
    font-size: 0.85em;
}
.blog-comment-content {
    font-size: 13px;
    overflow: hidden!important;
    padding-top: 0 !important;
}
.load-comments {
  padding: 10px;
  font-weight: 600;
}
div.blog-comment-buttons input {
    font-size: 13px !important;
    padding: 0 3px !important;
}

.blog-post-rating {
    padding: 10px 0 0 0;
}

@media (max-width:540px){
	.bx_soc_comments_div .bx-catalog-tab-list li a{
		font-size:11px;
	}
}

.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button,
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2	{

    display: inline-block;
    vertical-align: top;
    width: 200px;
    box-sizing: border-box;
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.5s;
    color: #fff;
    margin-bottom: 1rem;
    padding: 5px;
    background: -webkit-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: -moz-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: -ms-linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);
    background: linear-gradient(to top, #d81617 0%, #f34648 70%, #f34648 100%);

}
/*.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button  	{
	height:27px;
	line-height:27px;
}*/
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:hover  {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button:active {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:hover {}
.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2:active{}

.bx_soc_comments_div.bx_important .blog-comment-nav {

}

.bx_soc_comments_div.bx_important .blog-comment-nav a,
.bx_soc_comments_div.bx_important .blog-comment-nav a:link,
.bx_soc_comments_div.bx_important .blog-comment-nav a:visited,
.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	text-decoration: none;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-nav a:hover,
.bx_soc_comments_div.bx_important .blog-comment-nav a:active,
.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	text-decoration: underline;
	color: #969696 !important;
}

.bx_soc_comments_div.bx_important .blog-comment-info a,
.bx_soc_comments_div.bx_important .blog-comment-info a:link,
.bx_soc_comments_div.bx_important .blog-comment-info a:visited {
	font-size: 0.85em;
}

.bx_soc_comments_div.bx_important .blog-comment-info a:hover,
.bx_soc_comments_div.bx_important .blog-comment-info a:active {
	font-size: 0.85em;
}

.bx_soc_comments_div .bx-catalog-tab-section-container{position: relative;}

.bx_soc_comments_div .bx-catalog-tab-list{
	display: none;
	text-align: left;
	padding: 0;
	vertical-align: bottom;
}

.bx_soc_comments_div .bx-catalog-tab-list li{
	vertical-align: bottom;
	border: 1px solid #edeeef;
	display: inline-block;
  margin-right: 3px;
	border-radius: 3px;
	background: #f7f7f7;
	box-shadow: inset 0 -10px  5px -10px rgba(0,0,0,.12);
}
.bx_soc_comments_div .bx-catalog-tab-section-container .bx-catalog-tab-list li:before{
content: none;
}

.bx_soc_comments_div .bx-catalog-tab-list li a,
.bx_soc_comments_div .bx-catalog-tab-list li>span{
display: block;
cursor: pointer;
line-height: 30px;
height: 30px;
color: #999;
text-decoration: none;
font-size: 2rem;
padding: 0 20px;
box-shadow: none;
}

.bx_soc_comments_div .bx-catalog-tab-list li:hover,
.bx_soc_comments_div .bx-catalog-tab-list li.active{
background: #fff;
}
.bx_soc_comments_div .bx-catalog-tab-list li.active{
  border: 0;
  box-shadow: none;
}

.bx_soc_comments_div .bx-catalog-tab-list li.active a,
.bx_soc_comments_div .bx-catalog-tab-list li.active>span{
line-height: 33px;
height: 33px;
color: #3f3f3f;
position: relative;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div.tab-off{
opacity: 0;
height: 0;
overflow: hidden;
-webkit-transition:all 0.4s ease-out;
-ms-transition:all 0.4s ease-out;
-moz-transition:all 0.4s ease-out;
-o-transition:all 0.4s ease-out;
transition:all 0.4s ease-out;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div{
opacity: 1;
-webkit-transition:all 0.6s ease-out;
-ms-transition:all 0.6s ease-out;
-moz-transition:all 0.6s ease-out;
-o-transition:all 0.6s ease-out;
transition:all 0.6s ease-out;
padding: 0 10px;
}

.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container .hidden{
display: none;
}