.contact-form {
  padding: 2.5rem 0;
  border-top: 1px solid #dddddd;
}
.contact-form .title-section{
  text-align: left;
}
.contact-form label {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  color: #383838;
  line-height: 33px;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 1.4rem;
}
.contact-form  fieldset {
  display: inline-block;
  vertical-align: top;
}
.contact-form input[type=submit] {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  box-sizing: border-box;
  line-height: 43px;
  color: #353535;
  font-family: 'proxima_nova_rgregular', sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 3.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #fff;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
  border: none;
  cursor: pointer;
  margin-left: 174px;
}