.search {
  border: 1px solid #969696;
  width: 100%;
  height: 30px;
  font-size: 0;
  border-radius: 3px;
}
.search input[type=text] {
  width: 89%;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  border: none;
  padding: 0 1rem;
  border-radius: 3px;
  font-size: 12px;
}
.search input[type=submit] {
  width: 11%;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  border: none;
  background: url(images/search.png) no-repeat center center;
}