
.page-navigation>a,
.page-navigation>span{
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  line-height: 23px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 12px;
  border: 1px solid #dedede;
  margin-left: 2px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.page-navigation a {
  cursor: pointer;
}
.page-navigation a.see-all-nav {
  width: auto;
  border: none;
  margin-right: 1.5rem;
}
.page-navigation>span {
  background: #f34648;
  border-color: #f13e41;
  color: #fff;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.page-navigation>a:hover {
  background-color: #dedede;
}