.product-item-scu-list.TEXT li,
.product-item-scu-list.TEXT li.selected{
  display: inline-block;
  vertical-align: top;
  width: 40px; 
  height: 40px;
  box-sizing: border-box;
  line-height: 38px;
  color: #353535;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 20px;
  border: 1px solid #dedede;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  outline: none;
}
.product-item-scu-list.TEXT li.selected {
  background: #f34648;
  border-color: #f13e41;
  color: #fff;
  background: -webkit-linear-gradient(to top,  #d81617 0%, #f34648 70%, #f34648 100%);            
  background: -moz-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: -ms-linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);            
  background: linear-gradient(to top,  #d81617 0%,  #f34648 70%, #f34648 100%);
}
.product-item-scu-list.TEXT li:hover {
  background-color: #dedede;
}
.product-item-scu-list.TEXT ul {
  margin-bottom: 1rem;
}
.product-item-scu-list.TEXT a {
  color: #e52b2d;
  font-family: 'helveticaneuecyrroman', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.product-item-scu-list.TEXT {
  display: inline-block;
  vertical-align: top;
  margin-right: 4.4rem;
}
.product-item-scu-list.TEXT,
.count {
  padding-top: 1.2rem;
  font-size: 0;
  margin-bottom: 2.2rem;
} 
.count {
  display: inline-block;
  vertical-align: top;
}
.product-item-scu-list.PICT li  {
  border: 1px solid #dedede;
  cursor: pointer;
  display: inline-block;
  padding: 2px; 
  margin-right: 5px;
  width: 70px;
  height: 100px;
}
.product-item-scu-list.PICT li span  {
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.product-item-scu-list.PICT li.selected {
  border-color: #e52b2d;
} 
@media (max-width: 1023px) { 
  .product-item-scu-list.TEXT {
    margin-right: 0;
  }
  
}